#!/usr/bin/env bash

# Git alias
alias g=git

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Applications
alias db='open -a "DB Browser for SQLite.app"'
alias typora='open -a Typora'
alias firefox='open -a Firefox'