#!/usr/bin/env bash

# Git aliases
alias g=git
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gcm='git commit -m'
alias gcane='git commit --amend --no-edit'
alias gcam='git commit --amend -m'
alias gcl='git clone'
alias gch='git checkout'
alias gd='git diff'
alias gm='git merge'
alias gr='git remote'
alias grv='git remote -v'
alias gra='git remote add'
alias grrm='git remote rm'
alias gp='git push'
alias gpl='git pull'
alias gf='git fetch'
alias gl="git log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias grb='git rebase'
alias gre='git reset'
alias gst='git status'
alias gchunt='git clean -nXd'
alias grunt='git clean -fXd'
alias grig='git rm -r --cached'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Applications
alias firefox='open -a Firefox'