#!/usr/bin/env bash

export LANG='en_US.UTF-8'
export VISUAL='nano'
export EDITOR='emacs'
export SHELL='/bin/zsh'

# nvm
export NVM_DIR="$HOME/.nvm"

# libomp
# export LDFLAGS="-L/usr/local/opt/libomp/lib"
# export CPPFLAGS="-I/usr/local/opt/libomp/include"

export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS'
--color fg:#D8DEE9,bg:#2E3440,hl:#A3BE8C,fg+:#D8DEE9,bg+:#434C5E,hl+:#A3BE8C
--color pointer:#BF616A,info:#4C566A,spinner:#4C566A,header:#4C566A,prompt:#81A1C1,marker:#EBCB8B
'

export DOCKER_DEFAULT_PLATFORM=linux/amd64

# libstdc++ for Db2
export DYLD_LIBRARY_PATH="/usr/local/lib/gcc/8:$DYLD_LIBRARY_PATH" 
