[user]
	name = Edwin Onuonga
	email = edwinonuonga@gmail.com
	username = eonu
[core]
	editor = emacs
[credential]
	helper = osxkeychain
[http]
	postBuffer = 524288000
[pull]
	ff = only
	rebase = false
[init]
	defaultBranch = master
