/*

!.gitignore

# Profile
!.zshrc
!.zlogin
!.zprofile
!.profile
!.bashrc
!.bash_profile

# Shell files
!.path
!.exports
!.aliases

# Git
!.gitconfig

# Editor configuration
!.emacs

# Ruby
!.gemrc
!.rbenv/
.rbenv/versions/
!.railsrc

# Scripts
!bin/