#!/usr/bin/env bash

# Finds the PID of the processes running on a port
function pocc() { lsof -t -i:"$1"; }

# Git log search
function glf() { git log --all --grep="$1"; }

# Add gitkeep files to the deepest empty subdirectories in the specified directory
function gitkeep() { find ${1:-.} -type d -empty -not -path "${1:-.}/.git/*" -exec touch {}/.gitkeep \; }
